# Machine Learning Workshop - 10

- Name : Donda Yusuf
- Program : Big Data Engineering (EEP Student)

## Exercise 1

a) What is 8 to the power 4?
b) Split this string “Split this string”
c) Given the variables: planet = “Earth”, diameter = 12742, use .format() to print the following
string “The diameter of Earth is 12742 kilometers.”
d) Given the name list, use indexing to grab word “target”, the_list =
[1,2,[3,4],[5,[100,200,['target']],23,11],1,7]
e) Given this nest dictionary grab the work “hello”. The_dic =
{'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
f) Create a basic function that returns True if the word 'elephant' is contained in the input string.
Don't worry about edge cases like a punctuation being attached to the word dog, but do
account for capitalization.
g) Create a function that counts the number of times the word "elephant" occurs in a string.
Again ignore edge cases.
h) Write a function to return one of 3 possible results: "Low speed", "Medium speed", or "Fast
speed". If your speed is 60 or less, the result is "Low speed". If speed is between 61 and 80
inclusive, the result is "Medium speed". If speed is 81 or more, the result is "Fast speed".
Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on
your birthday, your speed can be 5 higher in all cases.

In [2]:
# Question 1
result = 8 ** 4
print(result)

4096

In [3]:
# Question 2
def split_string(input_string):
    return input_string.split()

input_string = "Split this string"
print(split_string(input_string))

['Split', 'this', 'string']

In [5]:
# Question 3
planet = "Earth"
diameter = 12742

print("The diameter of {0} is {1:,} kilometers.".format(planet, diameter))

The diameter of Earth is 12,742 kilometers.

In [15]:
# Question 4
the_list = [1,2,[3,4],[5,[100,200,['target']],23,11],1,7]
the_list_2 = [1,2,[3,4],[5,[100,200],23,11],1,7,['target']]

def find_target(lst, index=[]):
    for i, element in enumerate(lst):
        new_index = index + [i]
        if element == 'target':
            return new_index
        elif isinstance(element, list):
            result = find_target(element, new_index)
            if result:
                return result
    return None

result = find_target(the_list)
if result:
    print(f"Found 'target' at index {result}")
else:
    print("Not found")
    
print(the_list[3][1][2])

Found 'target' at index [3, 1, 2, 0]
['target']

In [17]:
# Question 5
The_dic = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

hello = The_dic['k1'][3]['tricky'][3]['target'][3]
print(hello)

hello

In [18]:
# Question 6
def contains_elephant(input_string):
    return 'elephant' in input_string.casefold()

print(contains_elephant("I love elephants"))  
print(contains_elephant("The dog is very happy"))  
print(contains_elephant("The Elephant is huge"))

True
False
True

In [19]:
# Question 7
def count_elephants(input_string):
    return input_string.casefold().count('elephant')

print(count_elephants("I love elephants, elephants are huge"))  
print(count_elephants("The dog is very happy")) 
print(count_elephants("The Elephant is huge, I love elephants"))

2
0
2

In [22]:
# Question 8
def speed_category(speed, is_birthday):
    if is_birthday:
        speed -= 5
    if speed <= 60:
        return "Low speed"
    elif 61 <= speed <= 80:
        return "Medium speed"
    else:
        return "Fast speed"

# Example usage:
print(speed_category(70, False))  # Returns: "Medium speed"
print(speed_category(70, True))   # Returns: "Low speed" (because 70 - 5 = 65, which is still "Low speed")
print(speed_category(85, False))  # Returns: "Fast speed"
print(speed_category(85, True))   # Returns: "Medium speed" (because 85 - 5 = 80, which is "Medium speed")

Medium speed
Medium speed
Fast speed
Medium speed

## Exercise 2 - PySpark operations on DataFrame.

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, min, max, avg, sum

spark = SparkSession.builder.appName("Employee Data").getOrCreate()

# The Data
data = [("James","Sales","SG",70000,34,10000),
("Michael","Sales","SG",66000,56,20000),
("Robert","Sales","MY",61000,30,23000),
("Maria","Finance","MY",60000,24,23000),
("Raman","Finance","USA",79000,40,24000),
("Scott","Finance","USA",63000,36,19000),
("Jen","Finance","UK",89000,53,15000),
("Jeff","Finance","UK",70000,25,18000),
("Alice","Marketing","UK",78000,50,21000),
("Ada","IT","SG",83000,35,11000),
("Jackson","IT","MY",71000,30,21000),
("Cooper","IT","UK",91000,40,21000)]

# DataFrame
df = spark.createDataFrame(data, ["employee_name", "department", "country", "salary", "age", "bonus"])

In [24]:
# Show data and print schema
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

In [29]:
# Run groupBy() on “department” columns. 
# Calculate aggregates like minimum, maximum, average, 
# total salary for each group using min(), max(), avg() and sum() aggregate functions respectively.

df.groupBy("department").agg(
    min("salary").alias("min_salary"),
    max("salary").alias("max_salary"),
    avg("salary").alias("avg_salary"),
    sum("salary").alias("total_salary")
).show()

+----------+----------+----------+-----------------+------------+
|department|min_salary|max_salary|       avg_salary|total_salary|
+----------+----------+----------+-----------------+------------+
|     Sales|     61000|     70000|65666.66666666667|      197000|
|   Finance|     60000|     89000|          72200.0|      361000|
| Marketing|     78000|     78000|          78000.0|       78000|
|        IT|     71000|     91000|81666.66666666667|      245000|
+----------+----------+----------+-----------------+------------+

In [30]:
# Run groupBy() on “country” columns. Calculate aggregates like minimum, maximum, average,
# total salary for each group using min(), max(), avg() and sum() aggregate functions respectively.

df.groupBy("country").agg(
    min("salary").alias("min_salary"),
    max("salary").alias("max_salary"),
    avg("salary").alias("avg_salary"),
    sum("salary").alias("total_salary")
).show()

+-------+----------+----------+----------+------------+
|country|min_salary|max_salary|avg_salary|total_salary|
+-------+----------+----------+----------+------------+
|     SG|     66000|     83000|   73000.0|      219000|
|     MY|     60000|     71000|   64000.0|      192000|
|    USA|     63000|     79000|   71000.0|      142000|
|     UK|     70000|     91000|   82000.0|      328000|
+-------+----------+----------+----------+------------+